# Pandas toturial (Day11)
This notbook explaisn ............

Install libraires

In [ ]:
# pip install pandas
# pip install numpy

- import libraires

In [5]:
import pandas as pd 
import numpy as np

In [ ]:
# Ojecet creation 
s= pd.Series([7,45,23,np.nan,54,12])
s

In [7]:
 dates=pd.date_range("20220110",periods=20)
 dates

DatetimeIndex(['2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
               '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17',
               '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21',
               '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25',
               '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(20,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-10 -0.761653 -0.368889  1.130929 -1.989797
2022-01-11  0.152774 -0.025257 -0.154580 -0.258488
2022-01-12  0.881941 -0.452126  0.354685 -0.051852
2022-01-13  0.001134 -0.286436 -1.599848 -0.266871
2022-01-14 -0.263346 -1.140416  0.224652 -1.043892
2022-01-15  0.747055 -2.144684  0.147052 -1.255635
2022-01-16 -0.801597 -2.107869 -0.757467  0.500188
2022-01-17 -0.473414 -0.861398  0.675285  0.114839
2022-01-18 -0.289986 -1.145399 -0.914740 -0.070928
2022-01-19 -1.245294 -0.312279  0.266360  0.332069
2022-01-20 -0.378864  0.178238 -1.156911 -0.312981
2022-01-21 -1.054327 -0.016372  0.698176 -0.393989
2022-01-22  0.862109  0.870528 -0.494063  0.715309
2022-01-23  0.817990  0.566245 -0.330526  0.030652
2022-01-24 -0.237641  1.099437  0.283324 -2.695600
2022-01-25 -1.086189 -0.816521 -0.087239 -0.749271
2022-01-26  2.276898 -1.043710  0.846412 -1.598648
2022-01-27 -1.413547  0.036611 -0.495721 -0.692160
2022-01-28  0.952212 -0.213909  0.395435 -0.798045
2022-01-29 -0.485363  0.636416 -0.966836 -1.016611

In [ ]:
# # import pandas library
# import pandas as pd
  
# # dictionary with list object in values
# details = {
#     'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
#     'Age' : [23, 21, 22, 21],
#     'University' : ['BHU', 'JNU', 'DU', 'BHU'],
# }
  
# # creating a Dataframe object 
# df = pd.DataFrame(details)
  
# df

In [ ]:
 df.dtypes

In [ ]:
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
df.index

In [ ]:
df.to_numpy()

In [ ]:
df.describe()

# transpose of data set

In [ ]:
df.T

In [ ]:
df.sort_index(axis=1,ascending=True)

In [ ]:
df.sort_values(by="B",ascending=False)

# Selecting a column

In [ ]:
df["B"]

# Row wise Selection

In [ ]:
df[2:4]

In [ ]:
df.loc[dates[15]]

In [ ]:
df.loc["20220114":"20220116",["A","B"]]

In [ ]:
df.loc["20220116",["A","B","C"]]

In [10]:
df.at[dates[1],"A"]

0.1527739747486604

In [9]:
df.head()

                   A         B         C         D
2022-01-10 -0.761653 -0.368889  1.130929 -1.989797
2022-01-11  0.152774 -0.025257 -0.154580 -0.258488
2022-01-12  0.881941 -0.452126  0.354685 -0.051852
2022-01-13  0.001134 -0.286436 -1.599848 -0.266871
2022-01-14 -0.263346 -1.140416  0.224652 -1.043892

In [11]:
df.iloc[3]

A    0.001134
B   -0.286436
C   -1.599848
D   -0.266871
Name: 2022-01-13 00:00:00, dtype: float64

In [12]:
df.iloc[3:10]

                   A         B         C         D
2022-01-13  0.001134 -0.286436 -1.599848 -0.266871
2022-01-14 -0.263346 -1.140416  0.224652 -1.043892
2022-01-15  0.747055 -2.144684  0.147052 -1.255635
2022-01-16 -0.801597 -2.107869 -0.757467  0.500188
2022-01-17 -0.473414 -0.861398  0.675285  0.114839
2022-01-18 -0.289986 -1.145399 -0.914740 -0.070928
2022-01-19 -1.245294 -0.312279  0.266360  0.332069

In [13]:
df.iloc[0:5, : ]

                   A         B         C         D
2022-01-10 -0.761653 -0.368889  1.130929 -1.989797
2022-01-11  0.152774 -0.025257 -0.154580 -0.258488
2022-01-12  0.881941 -0.452126  0.354685 -0.051852
2022-01-13  0.001134 -0.286436 -1.599848 -0.266871
2022-01-14 -0.263346 -1.140416  0.224652 -1.043892

In [14]:
df.iloc[ : , 0:3 ]

                   A         B         C
2022-01-10 -0.761653 -0.368889  1.130929
2022-01-11  0.152774 -0.025257 -0.154580
2022-01-12  0.881941 -0.452126  0.354685
2022-01-13  0.001134 -0.286436 -1.599848
2022-01-14 -0.263346 -1.140416  0.224652
2022-01-15  0.747055 -2.144684  0.147052
2022-01-16 -0.801597 -2.107869 -0.757467
2022-01-17 -0.473414 -0.861398  0.675285
2022-01-18 -0.289986 -1.145399 -0.914740
2022-01-19 -1.245294 -0.312279  0.266360
2022-01-20 -0.378864  0.178238 -1.156911
2022-01-21 -1.054327 -0.016372  0.698176
2022-01-22  0.862109  0.870528 -0.494063
2022-01-23  0.817990  0.566245 -0.330526
2022-01-24 -0.237641  1.099437  0.283324
2022-01-25 -1.086189 -0.816521 -0.087239
2022-01-26  2.276898 -1.043710  0.846412
2022-01-27 -1.413547  0.036611 -0.495721
2022-01-28  0.952212 -0.213909  0.395435
2022-01-29 -0.485363  0.636416 -0.966836

# Boolean Operator

In [20]:
df[df["A"]!=1]

                   A         B         C         D
2022-01-10 -0.761653 -0.368889  1.130929 -1.989797
2022-01-11  0.152774 -0.025257 -0.154580 -0.258488
2022-01-12  0.881941 -0.452126  0.354685 -0.051852
2022-01-13  0.001134 -0.286436 -1.599848 -0.266871
2022-01-14 -0.263346 -1.140416  0.224652 -1.043892
2022-01-15  0.747055 -2.144684  0.147052 -1.255635
2022-01-16 -0.801597 -2.107869 -0.757467  0.500188
2022-01-17 -0.473414 -0.861398  0.675285  0.114839
2022-01-18 -0.289986 -1.145399 -0.914740 -0.070928
2022-01-19 -1.245294 -0.312279  0.266360  0.332069
2022-01-20 -0.378864  0.178238 -1.156911 -0.312981
2022-01-21 -1.054327 -0.016372  0.698176 -0.393989
2022-01-22  0.862109  0.870528 -0.494063  0.715309
2022-01-23  0.817990  0.566245 -0.330526  0.030652
2022-01-24 -0.237641  1.099437  0.283324 -2.695600
2022-01-25 -1.086189 -0.816521 -0.087239 -0.749271
2022-01-26  2.276898 -1.043710  0.846412 -1.598648
2022-01-27 -1.413547  0.036611 -0.495721 -0.692160
2022-01-28  0.952212 -0.213909  0.395435 -0.798045
2022-01-29 -0.485363  0.636416 -0.966836 -1.016611

In [23]:
df[df>0]

                   A         B         C         D
2022-01-10       NaN       NaN  1.130929       NaN
2022-01-11  0.152774       NaN       NaN       NaN
2022-01-12  0.881941       NaN  0.354685       NaN
2022-01-13  0.001134       NaN       NaN       NaN
2022-01-14       NaN       NaN  0.224652       NaN
2022-01-15  0.747055       NaN  0.147052       NaN
2022-01-16       NaN       NaN       NaN  0.500188
2022-01-17       NaN       NaN  0.675285  0.114839
2022-01-18       NaN       NaN       NaN       NaN
2022-01-19       NaN       NaN  0.266360  0.332069
2022-01-20       NaN  0.178238       NaN       NaN
2022-01-21       NaN       NaN  0.698176       NaN
2022-01-22  0.862109  0.870528       NaN  0.715309
2022-01-23  0.817990  0.566245       NaN  0.030652
2022-01-24       NaN  1.099437  0.283324       NaN
2022-01-25       NaN       NaN       NaN       NaN
2022-01-26  2.276898       NaN  0.846412       NaN
2022-01-27       NaN  0.036611       NaN       NaN
2022-01-28  0.952212       NaN  0.395435       NaN
2022-01-29       NaN  0.636416       NaN       NaN

In [26]:
df2=df.copy()
df2

                   A         B         C         D
2022-01-10 -0.761653 -0.368889  1.130929 -1.989797
2022-01-11  0.152774 -0.025257 -0.154580 -0.258488
2022-01-12  0.881941 -0.452126  0.354685 -0.051852
2022-01-13  0.001134 -0.286436 -1.599848 -0.266871
2022-01-14 -0.263346 -1.140416  0.224652 -1.043892
2022-01-15  0.747055 -2.144684  0.147052 -1.255635
2022-01-16 -0.801597 -2.107869 -0.757467  0.500188
2022-01-17 -0.473414 -0.861398  0.675285  0.114839
2022-01-18 -0.289986 -1.145399 -0.914740 -0.070928
2022-01-19 -1.245294 -0.312279  0.266360  0.332069
2022-01-20 -0.378864  0.178238 -1.156911 -0.312981
2022-01-21 -1.054327 -0.016372  0.698176 -0.393989
2022-01-22  0.862109  0.870528 -0.494063  0.715309
2022-01-23  0.817990  0.566245 -0.330526  0.030652
2022-01-24 -0.237641  1.099437  0.283324 -2.695600
2022-01-25 -1.086189 -0.816521 -0.087239 -0.749271
2022-01-26  2.276898 -1.043710  0.846412 -1.598648
2022-01-27 -1.413547  0.036611 -0.495721 -0.692160
2022-01-28  0.952212 -0.213909  0.395435 -0.798045
2022-01-29 -0.485363  0.636416 -0.966836 -1.016611

In [30]:
df2["E"]=["10","44","SUN","MON","Tue","10","44","SUN","MON","Tue","10","44","SUN","MON","Tue","10","44","SUN","MON","Tue"]
df2

                   A         B         C         D    E
2022-01-10 -0.761653 -0.368889  1.130929 -1.989797   10
2022-01-11  0.152774 -0.025257 -0.154580 -0.258488   44
2022-01-12  0.881941 -0.452126  0.354685 -0.051852  SUN
2022-01-13  0.001134 -0.286436 -1.599848 -0.266871  MON
2022-01-14 -0.263346 -1.140416  0.224652 -1.043892  Tue
2022-01-15  0.747055 -2.144684  0.147052 -1.255635   10
2022-01-16 -0.801597 -2.107869 -0.757467  0.500188   44
2022-01-17 -0.473414 -0.861398  0.675285  0.114839  SUN
2022-01-18 -0.289986 -1.145399 -0.914740 -0.070928  MON
2022-01-19 -1.245294 -0.312279  0.266360  0.332069  Tue
2022-01-20 -0.378864  0.178238 -1.156911 -0.312981   10
2022-01-21 -1.054327 -0.016372  0.698176 -0.393989   44
2022-01-22  0.862109  0.870528 -0.494063  0.715309  SUN
2022-01-23  0.817990  0.566245 -0.330526  0.030652  MON
2022-01-24 -0.237641  1.099437  0.283324 -2.695600  Tue
2022-01-25 -1.086189 -0.816521 -0.087239 -0.749271   10
2022-01-26  2.276898 -1.043710  0.846412 -1.598648   44
2022-01-27 -1.413547  0.036611 -0.495721 -0.692160  SUN
2022-01-28  0.952212 -0.213909  0.395435 -0.798045  MON
2022-01-29 -0.485363  0.636416 -0.966836 -1.016611  Tue